@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Định nghĩa các biến màu cho light theme và dark theme */
/* Định nghĩa màu sắc cơ bản cho theme dark */
:root {
  --background-dark: #121212;
  --text-color-dark: #ecf0f1;
  --primary-color-dark: #3498db;
  --accent-color-dark: #e74c3c;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  display: grid;
  place-items: center;
}
.card__themetoggle {
  display: flex;
  justify-content: space-between;
  color: #e2e2e2;
}
.card__themetoggle button {
  border: none;
  padding: 0.8rem;
  font-size: 1.6rem;
  cursor: pointer;
}
.iconitem {
  color: #000;
}
.card {
  max-width: 300px;
  min-height: 500px;
  margin: 0px 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  transition: max-width 0.3s ease;
}
.card__img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  outline: lightblue solid;
}
.card__content {
  display: grid;
  place-items: center;
  row-gap: 1rem;
}
.card__content--icon {
  font-size: 1.2rem;
  letter-spacing: 1.2rem;
}
.card__about {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 8rem;
  border-radius: 20px 20px 10px 10px;
  text-align: center;
  line-height: 2rem;
  background: linear-gradient(to right, #4c8aa4 0%, #2388cb 50%, #374875 100%);
  transition: all 0.3 ease;
}
.card__about--highlight span {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  border-radius: 20%;
  padding: 20px;
  background: linear-gradient(to left, #4c8aa4 0%, #2388cb 50%, #374875 100%);
}
/* ------------------------------- RESPONSIVE ------------------------------- */
/* Style cho màn hình có chiều rộng từ 320px đến 600px */
@media screen and (max-width: 600px) {
  .card {
    max-width: 90%;
    height: 10rem;
  }
}
/* ------------------------------- chỉnh theme ------------------------------ */
.card.dark {
  background-color: var(--background-dark);
  color: var(--text-color-dark);
}
.card__themetoggle button.dark {
  background: none;
  color: var(--text-color-dark);
}
.iconitem--dark {
  color: var(--text-color-dark);
}
