body {
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(99, 9, 121, 1) 5%, rgba(0, 212, 255, 1) 100%);
}
.container {
   /* border: 1px solid #000; */
   display: grid;
   place-items: center;
   box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.4);
   border-radius: 1.625rem;
   width: 387px;
   height: 640px;

}
.weather__form {
   margin: 20px;
   display: grid;
   place-items: center;
   grid-template-columns: 1fr;
}
#btn {
   width: 30%;
   background-color: teal;
   padding: 0.625rem;
   border-radius: 0.625rem;
   text-transform: capitalize;
}
.city__input {
   padding: 0.625rem;
   font-size: 1.3rem;
   font-weight: bold;
   border: 0.125rem solid hsl(0, 0%, 20%, 0.3);
   border-radius: 0.625rem;
   margin: 0.625rem;
   width: 18.75rem;
}
.card {
   display: grid;
   place-items: center;
}
p{
    font-size: 1.2rem;
}
.humdity__display{
    font-weight: bold;

}
.weather__emoji{
    font-size: 5rem;
    padding-bottom: 20px;
}
.error__display{
    /* font-size: 2.5rem; */
    font-weight: bold;
    color: hsla(0,0%,0%,0.75);
}

.dark {
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 45, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
   color: #fff;
}
.city__input--dark {
   background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 45, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
   color: white;
}
