body {
   background: grey;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}
.container{
    width: 80%;
}

.owl-carousel{
    display: flex;
}
.container .owl-carousel .item img{
    height: 40rem;
    width: 100%;
}
