*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}
body {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background: #34507c;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
}
.container {
   /* border: 1px solid #000; */
   width: 450px;
   height: 25rem;
   overflow: hidden;
   padding: 28px;
   background: #fff;
   box-shadow: 0 10px 25px 10px rgba(65, 59, 59, 0.6);
   border-radius: 10px;
}
.validation .validation__input {
   height: 4.063rem;
   width: 100%;
   position: relative;
}
.validation__input input {
   height: 4.063rem;
   width: 100%;
   font-size: 1.3rem;
   outline: none;
   padding: 0 17px;
   border-radius: 5px;
   border: 1px solid #999;
}
.validation__input input:focus {
   padding: 0 16px;
   border: 2px solid #4285f4;
}

#iconEye {
   position: absolute;
   top: 50%;
   right: 18px;
   font-size: 2rem;
   color: #928c8c;
   cursor: pointer;
   transform: translateY(-50%);
}
.container .validation__condition {
   margin: 20px 0 10px;
}
.validation__condition p {
   color: #333;
   font-size: 1.3rem;
}
.validation__condition li {
   list-style: none;
   line-height: 3rem;
   font-size: 1.1rem;
   display: flex;
   align-items: center;
   column-gap: 10px;
}

