@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font-family: "Poppins", sans-serif;
  --font-weight: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --bg-color: rgb(80, 139, 197);
  --box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.3);
}
/* -------------------------------- RESET CSS ------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ---------------------------------- BODY ---------------------------------- */
body {
  font-family: var(--font-family);
  background: var(--bg-color);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -------------------------------- CONTAINER ------------------------------- */
.container {
  background: white;
  width: 85%;
  /* border: 1px solid ; */
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
/* --------------------------------- CONTENT -------------------------------- */
.container .content {
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 480px;
}
/* ------------------------------ LEFT SIDE ------------------------------ */
.container .content .left__side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.left__side .details {
  margin: 14px;
  text-align: center;
}
.left__side .details i {
  font-size: 30px;
  color: var(--bg-color);
}
.left__side .details .topic {
  font-weight: var(--font-weight-bold);
  font-size: 20px;
}
.left__side .details .text__one,
.left__side .details .text__two {
  font-size: 15px;
  color: #afafb6;
}
/* ---------------------------- vertical divider ---------------------------- */
.vertical__divider {
  border-left: 1px solid #b4b6c4;
  height: 50%;
  margin: 0 15px;
}
/* ------------------------------ RIGHT SIDE ----------------------------- */
.right__side {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.topic__text {
  font-size: 30px;
  margin-right: auto;
  color: var(--bg-color);
  font-weight: var(--font-weight-medium);
}
.right__side p {
  font-size: 16px;
  text-wrap: wrap;
  text-align-last: left;
  margin-right: auto;
}
/* ---------------------------------- FORM ---------------------------------- */
.right__side .input__box {
  width: 900px;
  margin: 12px 0;
  margin-right: 76px;
  box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}
.right__side .input__box input,
.right__side .input__box textarea {
  height: 100%;
  width: 100%;
  font-size: 18px;
  border-radius: 6px;
  background: #f0f1f8;
  border: none;
  cursor: text;
  opacity: 0.5;
}
/* --------------------------------- button --------------------------------- */
.right__side .button input {
  border-radius: 6px;
  padding: 8px;
  background: var(--bg-color);
  color: #f0f1f8;
  transition: 0.3s ease-in-out;
}
/* ---------------------------------- HOVER --------------------------------- */
.right__side .button input:hover {
  transform: scale(1.05);
}
#bounce {
  animation: bounce 3s ease-out infinite, fly 5s ease-in infinite;
}
@keyframes fly {
  0% {
    margin: 0;
  }
  40% {
    margin-right: 50px;
  }
  60% {
    margin-right: 80px;
  }
  80% {
    margin-right: auto;
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* --------------------------- RESPONSIVE WEBSITE --------------------------- */
@media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right__side{
     width: 75%;
     margin-left: 55px;
  }
}
@media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left__side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left__side::before{
     display: none;
   }
   .container .content .right__side{
     width: 100%;
     margin-left: 0;
   }
  }